# Editor
.vscode

# Node.js
node_modules

# Build output
dist
tsconfig.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Prisma
src/**/generated

# Docker
db_data

# Data
!data/.gitkeep
data/*.csv
data/*.json