.toggle-group {
  display: flex;

  .toggle + .toggle {
    margin-left: -1px;
  }

  .toggle[data-pressed] {
    z-index: 1;
  }

  .toggle:first-child {
    border-top-left-radius: var(--border-radius-sm);
    border-bottom-left-radius: var(--border-radius-sm);
  }

  .toggle:last-child {
    border-top-right-radius: var(--border-radius-sm);
    border-bottom-right-radius: var(--border-radius-sm);
  }
}

.toggle-group--neutral {
  .toggle[data-pressed] {
    background: var(--color-neutral-white);
    border-color: var(--color-neutral-800);
    color: var(--color-neutral-800);
  }
}

.toggle-group--primary {
  .toggle[data-pressed] {
    background: var(--color-neutral-white);
    border-color: var(--color-neutral-primary);
    color: var(--color-primary);
  }
}

.toggle {
  border: 1px solid;
  border-radius: 0;
  display: flex;
  align-items: center;
  height: 2.18rem; /* 35px */
  padding: 0 var(--spacing-0-5);
  position: relative;
  cursor: pointer;
  font-weight: var(--weight-bold);
  transition:
    background 0.2s,
    border-color 0.2s,
    color 0.2s;
}

.toggle:not([data-pressed]) {
  background: var(--color-neutral-200);
  border-color: var(--color-neutral-600);
  color: var(--color-neutral-600);
}

.toggle:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
