.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--spacing-1);
  grid-row-gap: var(--spacing-1);
  align-items: start;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--spacing-1-5);
    grid-row-gap: var(--spacing-1-5);
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: var(--spacing-1-5);
    grid-row-gap: var(--spacing-1-5);
  }

  @media screen and (min-width: 1025px) {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: var(--spacing-1-5);
    grid-row-gap: var(--spacing-1-5);
  }
}
