.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-sm);
  font-size: var(--size-16);
  padding: var(--spacing-0-5) var(--spacing-1);
  cursor: pointer;
  border: none;
}

.button--icon {
  padding: var(--spacing-0-5) var(--spacing-2);
}

.button--primary {
  background-color: var(--color-primary);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-primary-hover);
  }
}

.button--secondary {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);

  &:hover {
    border: 1px solid var(--color-primary-hover);
  }
}

.button--neutral {
  background-color: var(--color-white);
  border: 1px solid var(--color-neutral-400);
  color: var(--color-neutral-800);

  &:hover {
    background-color: var(--color-neutral-200);
  }
}

.button--disabled {
  background-color: var(--color-neutral-300);
  border: 1px solid var(--color-neutral-400);
  color: var(--color-neutral-600);
  cursor: not-allowed;

  &:hover {
    background-color: var(--color-neutral-300);
    border: 1px solid var(--color-neutral-400);
  }
}
