.filter__controls {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-1);

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.filter__sets,
.filter__search {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 250px;
  }

  @media screen and (min-width: 1025px) {
    width: 300px;
  }
}

.filter__colors {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: var(--spacing-1-5);
  }

  @media screen and (min-width: 1024px) {
    margin-left: auto;
  }
}

.filter__toggle {
  margin-top: var(--spacing-1);

  @media screen and (min-width: 768px) {
    margin-top: var(--spacing-1-5);
  }
}
